@import "../../../assets/variables";

article {
  display: flex;
  align-items: center;
  gap: 25px;
}
.photo {
  border-radius: 50px;
  height: 45px;
  width: 45px;
  object-fit: contain;
}
p {
  font-family: $text;
  margin: 0;
}
i {
  cursor: pointer;
}