$melon: #FCF6F1;
$orange: #F4DFCD;
$green: #C7EBB3; 
$pink: #FFD5F8; 
$dark-pink: #EBC7E5;
$green-gradient: linear-gradient(99.63deg, #C7EBB3 12.78%, rgba(199, 235, 179, 0) 132.88%);

$text: "Poppins", sans-serif