@import "../../../assets/variables";

.new-note {
  padding: 25px 20px 0;
  background: $green-gradient;
  height: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;  
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.title {
  font-family: $title;
  font-size: 28px;
  margin: 0;
}
input,
textarea {
  border: none;
  background: none;
  resize: none;
  width: 100%;
}
input:focus,
textarea:focus,
.textarea:focus {
  outline: none;
}
.textarea {
  display: block;
  width: 100%;
  //overflow: hidden;
  line-height: 30px;
  resize: both;
}

.textarea[contenteditable]:empty::before {
  content: "Insert title";
  color: gray;
}
.content {
  background: white;
  font-family: $text;
  border-radius: 40px 40px 0 0;
  height: auto;
  min-height: 100%;
  padding: 25px 20px;
}
.content-input {
  width: 100%;
  min-height: 100%;
  height: auto;
  font-family: $text;
  font-size: 20px;
}
.save-btn {
  background: rgba(255, 255, 255, 0.7);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 20px;  
}