/* You can add global styles to this file, and also import other style files */
@import "./assets/variables";

body {
  margin: 0;
  font-weight: 400;
  background: $melon;
}
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog .mat-dialog-container {
  border-radius: 37px !important;
}