<section class="container">
  <article class="green-btn">
    <i class="fa-solid fa-pencil"></i>
    Create new note
  </article>
  <section class="allNotes">
    <article class="notes" *ngFor="let note of notes">
      <header>
        <h3>{{note.note_title}}</h3>
        <button class="delete-btn">
          <i class="fa-solid fa-trash"></i>
        </button>
      </header>
      <div class="note-content">
        <p>
          {{note.note_content}}
        </p>
        <div class="edit">
          Tap the note to continue
        </div>
      </div>
    </article>
  </section>
</section>