<section class="container">
  <article class="green-btn">
    <i class="fa-solid fa-pencil"></i>
    Create new note
  </article>
  <section class="allNotes">
    <article class="notes">
      <header>
        <h3>Title</h3>
        <button class="delete-btn">
          <i class="fa-solid fa-trash"></i>
        </button>
      </header>
      <div class="note-content">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.
        </p>
        <div class="edit">
          Tap the note to continue
        </div>
      </div>
    </article>
  </section>
</section>